<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.miguelprietos.marvelheroes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.showcharacter.ShowCharacter"
            android:label="@string/title_activity_show_character"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.showcomic.ShowComicActivity"
            android:label="@string/title_activity_show_comic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.favorites.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>